.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
